@*@model IEnumerable<SmartAdminMvc.Models.Urgencia>
*@

@{
    ViewBag.Title = "Index";
}


@model PagedList.IPagedList<SmartAdminMvc.Models.Urgencia>
@using PagedList.Mvc ;
<style>
    #div1 {
        /*border: 2px solid #CCC;*/
        padding: 1em;
        margin: 1em 0 1em 1em;
        width: 300px;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>


<script type="text/javascript">

    $(document).ready(function () {
        $("#admin").hide();
        $("#bien").hide();
        var marcado2 = $('#txtNombre').val();
        //  alert("es undefinido  " + marcado2);
        $("#btn").prop('disabled', true);
        $("#btn").mouseover(function () {



            ;
            var marcado = $('#txtNombre').val();

            if ($("#txtNombre").val().length > 1) {
                $("#btn").prop('disabled', false);

            }


        });


        var ThematicName = '@ViewBag.resultado';
        //   alert("es undefinido  " + ThematicName);

        if (ThematicName == 1) {

            $("#admin").show();
        }

        else {
            $("#bien").show();

        }


    });

</script>


<div id="bien">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="alert alert-danger">
        <strong>Denegado!</strong> este usuario no puede acceder a esta informacion.
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="alert alert-danger">
        <strong>Denegado!</strong> este usuario no puede acceder a esta informacion.
    </div>
</div>

<div id="admin">

    <h2 class="h2 , text-center">Urgecia</h2>

    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  @Html.ActionLink(" ", "Create", null, new { @class = "btn btn-primary glyphicon glyphicon-plus", title = "Crear" })
    </p>

    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().activo)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        <input type="checkbox" checked disabled data-toggle="toggle">
                        @*
                            @Html.DisplayFor(modelItem => item.activo)
                        *@
                    </td>
                    <td>
                        @Html.ActionLink(" ", "Edit", new { id = item.id_prioridad }, new { id = item.id_prioridad, @class = "btn btn-success glyphicon glyphicon-pencil ", title = "Editar!" }) &nbsp;
                        @Html.ActionLink(" ", "Details", new { id = item.id_prioridad }, new { id = item.id_prioridad, @class = "btn btn-info  glyphicon glyphicon-exclamation-sign ", title = "Mostrar!" }) &nbsp;
                        @Html.ActionLink(" ", "Delete", new { id = item.id_prioridad }, new { id = item.id_prioridad, @class = "btn btn-danger glyphicon glyphicon-trash", title = "Eliminar!" })
                    </td>
                </tr>
            }

        </table>
    </div>


    <br />

    <p>

        <div id="div1">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pagesize = Model.PageSize }))
            &nbsp;&nbsp;&nbsp;&nbsp;  showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount ? Urgencia


        </div>

</div>